.img-text-section {
    margin: 0px 50px 150px 50px;
    padding: 150px 5%;
    background-color: #f3f3f3;

    @include bp($bp-mobile) {
        padding: 80px 16px;
        margin: 0px;
        background-color: white;
    }


    @include bp($bp-tablet) {
        margin: 0px 60px 80px 60px;
    }
    .title {
        margin-bottom: 55px;

        @include bp($bp-mobile) {
            margin-bottom: 32px;
        }
    }

    .img-video-text-wrapper {
        display: flex;
        gap: 80px;

        @include bp($bp-mobile) {
            flex-direction: column-reverse;
            position: relative;
            padding-bottom: 80px;
        }

        @include bp($bp-tablet) {
            flex-direction: column;
        }

        .img-video-container {
            flex: 1;

            video {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text_button_wrapper {
            flex: 2;

            .description-container {
                display: flex;
                gap: 80px;

                @include bp($bp-mobile) {
                    flex-direction: column;
                    gap: 0px;
                }

                .description {
                    flex: 1;

                    p,
                    ul,
                    li,
                    div {
                        font-size: 1rem;
                        line-height: 150%;
                    }
                }
            }

            .link-container {
                display: flex;
                justify-content: flex-end;
                margin-top: -80px;

                @include bp($bp-mobile) {
                    margin-top: 0px;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                }

                a {
                    @include bp($bp-mobile) {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

// contact page //

.page-id-94 {
    .img-text-section{

        background-color: unset;
        border-top: 1px solid #21283E ;
        margin: 0px 50px;

        @include bp($bp-mobile) {
            margin: 0px;
         }

         @include bp($bp-tablet) {
            margin: 0px 60px 80px 60px;
            padding: 50px 0px;
        }

        .img-video-text-wrapper {
            flex-direction: row-reverse;

            @include bp($bp-mobile) {
               flex-direction: column-reverse;
            }

            .text_button_wrapper {
                flex: 1;

                .link-container {
                    justify-content: flex-start;
                    margin-top: 32px;
                }
            }
        }

    }
}
