.partner-card {
  display: flex;
  background: #f4f4f4;
  margin-top: 32px;
  cursor: pointer;

  @include bp($bp-mobile) {
    flex-direction: column;
  }

  @include bp($bp-tablet) {
  }

  .left-col {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    padding: 24px 32px;

    @include bp($bp-mobile) {
      padding: 16px;
    }

    .logo-title-container {
      display: flex;
      gap: 1.5rem;

      img {
        max-width: 80px;
        max-height: 80px;
        object-fit: cover;
        width: auto;

        @include bp($bp-mobile) {
          max-width: 55px;
          max-height: 55px;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary_color;
        margin: auto 0;
      }
    }

    .partner-description {
      font-family: $second_font_family;
      font-size: 0.85rem;
      line-height: 120%;
      color: $primary_color;
    }

    .partner-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;

      @include bp($bp-mobile) {
       grid-template-columns: 1fr;;
      }

      svg {
        min-width: 24px;
      }
      

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      span {
        font-size: 1rem;
        font-family: $second_font_family;
        color: $primary_color;
        font-weight: 600;
      }
    }
  }

  .right-col {
    width: 300px;
    overflow: hidden;
    @include bp($bp-mobile) {
      width: 100%;
    }

    .swiper-partners {
      height: 100%;
      position: relative;

      .swiper-slide {
        height: auto;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}


