.posts-container, .posts-container-mobile {
  article {
    position: relative;
    // width: 31.5%;

    display: inline-flex;

    &:first-child {
      grid-area: 1 / 1 / 2 / 3;

      @include bp($bp-mobile) {
        grid-area: unset;
      }
      @include bp($bp-tablet) {
        grid-area: unset;
      }

      img {
        aspect-ratio: 2/1;
        height: calc(100% - 20px);

        @include bp($bp-mobile) {
          aspect-ratio: 1.3;
          height: auto;
        }
      }

      .post-short-content {
        margin-top: -20px;

        @include bp($bp-mobile) {
          margin-top: 0px;
        }
        @include bp($bp-tablet) {
          margin-top: 0px;
        }
      }
    }

    &:nth-child(7) {
      grid-area: 3 / 2 / 4 / 4;

      @include bp($bp-mobile) {
        grid-area: unset;
      }
      @include bp($bp-tablet) {
        grid-area: unset;
      }

      .post-short-content {
        margin-top: -20px;

        @include bp($bp-mobile) {
          margin-top: 0px;
        }
        @include bp($bp-tablet) {
          margin-top: 0px;
        }
      }

      img {
        aspect-ratio: 2/1;
        height: calc(100% - 20px);

        @include bp($bp-mobile) {
          aspect-ratio: 1.3;
          height: auto;
        }
      }
    }

    .entry-summary {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      a {
        display: flex;
      }

      a.img-container {
      }
    }

    img {
      //   max-height: 400px;
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100%;
      display: block;
      height: auto;

      @include bp($bp-mobile) {
        aspect-ratio: 1.3;
      }
      @include bp($bp-tablet) {
        aspect-ratio: 2/1;
      }
    }

    .post-short-content {
      .entry-title {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: $main_font_family;
        margin: 10px 0;

        @include bp($bp-mobile) {
          font-size: 14px;
        }

        a {
          color: $description_color;
          text-decoration: none;

          
        }
      }

      .description {
        font-size: 1rem;
        line-height: normal;
        font-family: $second_font_family; 

        @include bp($bp-mobile) {
          font-size: 14px;
        }

        a {
          color: $description_color;
        }
      }

      .blog-post-categories {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0px 10px;
        flex-wrap: wrap;
        a {
          display: inline-block;
          font-family: $second_font_family;
          background: #21283e;
          color: white;
          padding: 8px 12px 8px 12px;
          font-size: 0.85rem;
          font-weight: 400;
          text-decoration: none;
          text-transform: capitalize;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.single-post {
  .blog-posts {
    margin-top: 42px;
    display: grid;
    gap: 40px;
  }
}
